.container {
    max-width: 75%;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.backToHome {
    margin: 3rem 0 0;
}

